body {
  font-family: Helvetica, sans-serif;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

.pokedex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 20px;
}

.pokedex-logo-container {
  display: flex;
}

.pokedex-logo-img {
  height: 80px;
}

.search-container {
  width: 300px;
  background-color: black;
  border-radius: 15px;
  border: 2px solid yellow;
}

.search-input-field {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: black;
  color: white;
}

.close-detail-btn {
  background-color: aqua;
  width: 25px;
  height: 25px;
 transform: rotate(360deg);
}

/* Pokémon-Galerie */

/* #contentGallery {
  background-color: aqua !important;
} */

.pokemon-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.pokemon-card {
  width: 150px;
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pokemon-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Pokémon-Details */
.card-header-txt {
  font-size: 18px;
  color: white;
}

.card-img-container {
  margin: 10px 0;
}

.card-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

/* Fehlermeldung */
#notFoundMessage {
  color: red;
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

/* Footer */
.footer-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 50px;
}

/* ------------------------details----container-------for-------all---------------------*/
.pokemon-details-container {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: rgb(26, 70, 95);
}

/* ------------------------details----header---------------------------------------------*/
.details-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  background-color: black;
}

.details-header {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details-header-headlinetx {
  display: flex;
  justify-content: center;
  margin: 0;
  color: rgb(189, 235, 247);
}

.details-header-headline-nb {
  display: flex;
  justify-content: left;
  margin: 0;
  color: rgb(189, 235, 247);
}

.close-detail-btn {
  display: flex;
  justify-content: right;
  background-color: rgb(26, 70, 95);
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

/* ------------------------details----img-----and------abilitys----------------------------*/

.details-img-and-abilitys-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.details-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}

.details-img {
  display: flex;
  justify-content: center;
}

.details-abilitiesnav {
  display: flex;
  justify-content: center;
  height: 50px;
}

.details-abilities-btns {
  margin: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(26, 70, 95);
  border: solid;
  border: 1px;
  border-color: black;
  font-size: 24px;
  color: black;
  cursor: pointer;
}

#mainBtn {
  display: flex;
  text-align: center;
  align-items: center;
  background-color: rgba(42, 109, 148, 0.5);
  border: none;
  border-color: black;
  font-size: 24px;
}

#statsBtn {
  display: flex;
  text-align: center;
  align-items: center;
  background-color: rgba(42, 109, 148, 0.5);
  border: none;
  border-color: black;
  font-size: 24px;
}

#evoChainBtn {
  display: flex;
  text-align: center;
  align-items: center;
  background-color: rgba(42, 109, 148, 0.5);
  border: none;
  border-color: black;
  font-size: 24px;
}

.details-stats-container {
  background-color: rgb(26, 70, 95);
}
