.pokedex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 20px;
}

.pokedex-logo-container {
    width: 30%;
    height: 60px;
}

.search-container-input-button {
    display: flex;
}

.error-search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 60px;
}

#notFoundMessage,
#errorMessage {
    display: block;
    text-align: center;
    font-family: 'Helvetica';
    font-size: 16px;
    color: red;
    padding: 0.5rem;
    margin: 0;
}

.placeholder-search-right-container {
    width: 30%;
    height: 60px;
}

footer{
    display: flex;
}

.load-more-btn{
    display: flex;
}

.load-more-btn-txt{
    display: flex;
}

.designed-by{
    display: flex;
}

@media only screen and (max-width: 790px) {
    .pokedex-header {
        flex-direction: column;
    }
}

@media only screen and (max-width: 715px) {
    .pokedex-header {
        flex-direction: column;
    }
}

@media only screen and (max-width: 570px) {
    .pokedex-header {
        flex-direction: column;
    }

    .search-container {
        display: flex;
        justify-content: center;
        width: 320px;
        background-color: black;
        border-radius: 15px;
    }
}

@media only screen and (max-width: 488px) {
    .content-gallery {
        display: flex;
        width: 305px;
        font-size: 20px;
    }

    .detail-img-abilitiesnav-container {
        display: flex;
        width: 310px;
    }

    .details-stats-container {
        display: flex;
        justify-content: center;
        width: 300px;
    }

    .details-abilitiesnav {
        display: flex;
        justify-content: center;
        width: 290px;
    }

    .pokemon-details-container {
        display: flex;
        width: 305px;
    }

    .details-abilities-btns {
        scale: 0.7;
    }

    .pokedex-logo-container {
        display: flex;
    }

    .details-img {
        margin-left: 50px;
    }

    .pokedex-logo-img {
        height: 80px;
    }

    .details-header {
        width: 300px;
    }
}

.pokemon-gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 75vh;
    overflow-y: auto;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    padding-right: 10px;
}

.pokemon-gallery {
    width: 95%;
    height: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #555 #ccc;
}
