/* Allgemeine Seite */
body {
  font-family: Helvetica, sans-serif;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

.pokedex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 20px;
}

.pokedex-logo-container {
  display: flex;
}

.pokedex-logo-img {
  height: 80px;
}

.search-container {
  width: 300px;
  background-color: black;
  border-radius: 15px;
  border: 2px solid yellow;
}

.search-input-field {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: black;
  color: white;
}

.close-detail-btn{
  background-color: aqua;
  width: 25px;
  height: 25px;
}

/* Pokémon-Galerie */
.pokemon-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.pokemon-card {
  width: 150px;
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pokemon-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Pokémon-Details */
.card-header-txt {
  font-size: 18px;
  color: white;
}

.card-img-container {
  margin: 10px 0;
}

.card-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

/* Fehlermeldung */
#notFoundMessage {
  color: red;
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

/* Footer */
.footer-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 50px;
}
