.content-gallery {
    max-width: 90vw;
    height: 100%;
    position: fixed;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 1);
    padding: 0px;
    z-index: 1000;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

#detialGallery {
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    position: fixed;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.85);
    padding: 20px;
    background-color: rgba(42, 109, 148, 0.5);
    z-index: 1000;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
}

.details-types-container {
    width: 100%;
    max-width: 200PX;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 0.5rem;
}

.pokemon-type-button {
    width: auto;
    color:#000000;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.pokemon-card {
    width: 200px;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-style: preserve-3d;
    perspective: 1000px;
}

@keyframes rotateCard {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.pokemon-card.rotate {
    animation: rotateCard 0.5s ease-in-out forwards;
}

.pokemon-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.card-header {
    padding: 1rem;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #00000065;
}

.card-header-txt {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(182, 182, 182);
}

.card-header-nb{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(182, 182, 182);
}

.card-img-container {
    margin: 10px 0;
}

.card-img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.details-types-container {
    display: flex;
    width: 270px;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.pokemon-details-container {
    height: 84.5%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 300px;
    overflow: hidden;
    color: #fff;
    border-radius: 15px;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    background-color: rgb(26, 70, 95);
    font-size: 40px;
}

.details-header-container {
    top: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: black;
}

.details-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
}

.details-header-headline-txt {
    display: flex;
    justify-content: center;
    margin: 0;
    color: rgb(189, 235, 247);
}

.details-header-headline-nb {
    display: flex;
    justify-content: left;
    margin: 0;
    padding-left: 5px;
    color: rgb(189, 235, 247);
}

.close-detail-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 50%;
    background-color: yellow;
    color: black;
}

.close-detail-btn:hover {
    color: #000000;
    transform: scale(1.2);
    cursor: pointer;
}

.details-img-and-abilitiesnav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 270px;
    height: auto;
}

.details-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 270px;
    width: 100%;
    height: 270px;
    overflow: hidden;
}

.details-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: -2rem;
    width: 270px;
    height: 270px;
    
}

.details-abilitiesnav {
    display: flex;
    max-width: 270px;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: rgb(26, 70, 95);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 2.1rem;
}

.details-abilities-btns {
    margin: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(26, 70, 95);
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: solid;
    border: 1px;
    border-color: black;
    font-size: 18px;
    color: black;
    cursor: pointer;
}

#statsBtn {
    display: flex;
    text-align: center;
    align-items: center;
    background-color: rgb(63, 148, 197);
    padding: 0.5rem;
    margin: 0;
    font-size: 1.1rem;
    cursor: auto;
}

#mainBtn,
#evoChainBtn {
    width: 100%;
    padding: 0;
    margin: 0;
    cursor: auto;
    font-size: 1rem;
    color: #00000034;
}

.details-stats-container {
    width: 270px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(26, 70, 95);
    list-style-type: none;
    margin: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
    margin-bottom: 0.9rem;
}

.details-stats-list {
    font-size: 1.5rem;
    margin: 0;
    color: #000000;
    padding: 1rem;
}

.back-and-forth-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    background-color: rgb(26, 70, 95);
    padding: 1rem;
}

.back-btn,
.forth-btn {
    width: 42px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(63, 148, 197);
    color:#000000;
    padding-bottom: 0.2rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

.back-btn:hover,
.forth-btn:hover {
    color: #000000;
    transform: scale(1.2);
    color: whitesmoke;
    cursor: pointer;
}