/* ------------------------details----container-------for-------all---------------------*/

#contentGallery {
  display: flex;
  justify-content: center;
  width: 90vw;
  height: 90vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
  /* background-color: rgba(42, 109, 148, 0.5); */
  z-index: 1000;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

#detialGallery {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.85);
  padding: 20px;
  background-color: rgba(42, 109, 148, 0.5);
  z-index: 1000;
  overflow-y: auto;
  transition: all 0.3s ease-in-out;
}

.details-types-container {
  display: flex;
  justify-content: space-around;
  align-items: ;
  padding: 10px;
}

.pokemon-details-container {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow: auto;
  color: #fff;
  border-radius: 15px;
  background-color: rgb(26, 70, 95);
  font-size: 40px;
}

.pokemon-card {
  width: 200px;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform-style: preserve-3d; /* Dies erlaubt eine 3D-Rotation */
  perspective: 1000px; /* Die Perspektive für den 3D-Effekt */
}

/* Animation für das Drehen der Karte */
@keyframes rotateCard {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.pokemon-card.rotate {
  animation: rotateCard 0.5s ease-in-out forwards;
}

.pokemon-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Pokémon-Details */
.card-header {
  padding: 10px;
  font-size: 20px;
}

.card-header-txt {
  font-size: 18px;
  color: white;
}

.card-img-container {
  margin: 10px 0;
}

.card-img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.details-types-container {
  display: flex;
  font-size: 20px;
  border-radius: 5px;
}

/* ------------------------details----header---------------------------------------------*/
.details-header-container {
  height: 70px;
  display: flex;
  top: 50%;
  left: 20%;
  position: fixed;
  top: 5px;
  display: flex;

  align-items: center;
    font-size: 20px;
  width: 100vw;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: black;
}

.details-header {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details-header-headlinetx {
  display: flex;
  justify-content: center;
  margin: 0;
  color: rgb(189, 235, 247);
}

.details-header-headline-nb {
  display: flex;
  justify-content: left;
  margin: 0;
  color: rgb(189, 235, 247);
}

.close-detail-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;

  font-size: 18px;
  border-radius: 50%;
  background-color: yellow;
  color: black;

  text-align: center;
}

.close-detail-btn:hover {
  color: #000000;
  transform: scale(1.2);
}

/* ------------------------details----img-----and------abilitys----------------------------*/

.details-img-and-abilitys-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2000px;
  width: 90vw;
  height: 300px;
}

.details-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}

.details-img {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
}

.details-abilitiesnav {
  display: flex;
  justify-content: center;
  height: 50px;
  background-color: rgb(26, 70, 95);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.details-abilities-btns {
  margin: 10px;
  padding: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(26, 70, 95);
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: solid;
  border: 1px;
  border-color: black;
  font-size: 24px;
  color: black;
  cursor: pointer;
}

.details-abilities-btns:hover {
  margin: 10px;
  padding: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(38, 101, 138);
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border: solid;
  border: 1px;
  border-color: black;
  font-size: 24px;
  color: black;
  cursor: pointer;
}

#mainBtn {
  display: flex;
  text-align: center;
  align-items: center;
  background-color: rgba(42, 109, 148, 0.5);
  border: none;
  border-color: black;
  font-size: 24px;
}

#statsBtn {
  display: flex;
  text-align: center;
  align-items: center;
  background-color: rgba(42, 109, 148, 0.5);
  border: none;
  border-color: black;
  font-size: 24px;
}

#evoChainBtn {
  display: flex;
  text-align: center;
  align-items: center;
  background-color: rgba(42, 109, 148, 0.5);
  border: none;
  border-color: black;
  font-size: 24px;
}

.details-stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(26, 70, 95);
  list-style-type: none;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.details-stats-headline {
  font-size: 28px;
  margin-left: 5px;
}

.details-stats-txt {
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
}
