/* mobile devices */

@media (max-width: 1080px) {
  .pokedex-search-error-message-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  .error-search-container {
    width: 60%;
    justify-content: flex-end;
  }

  .placeholder-search-right-container {
    width: 40%;
  }
}

@media (max-width: 1030px) {
  #searchInput {
    width: 160px;
  }
}

@media (max-width: 995px) {
  #errorMessage {
    width: 270px;
  }

  .error-search-container {
    min-width: auto;
  }

  .pokedex-logo-container {
    width: 200px;
  }

  .placeholder-search-right-container {
    width: 20%;
    min-width: 240px;
  }
}

@media (max-width: 900px) {
  #searchInput {
    width: 140px;
  }

  #errorMessage {
    width: 240px;
  }
}

@media (max-width: 820px) {
  .placeholder-search-right-container {
    width: 20%;
    min-width: 220px;
  }
}

@media (max-width: 800px) {
  #searchInput {
    width: 120px;
  }

  .error-search-container {
    width: 210px;
  }

  #errorMessage {
    width: 200px;
  }

  .pokedex-logo-container {
    width: 180px;
  }

  .pokedex-search-error-message-container {
    justify-content: flex-end;
  }
}

@media (max-width: 730px) {
  .pokedex-search-error-message-container {
    min-width: 200px;
  }
  .placeholder-search-right-container {
    width: 20%;
    min-width: 200px;
    height: 60px;
  }
}

@media (max-width: 700px) {
  .pokedex-header {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
  
  .pokedex-logo-container {
    height: 50px;
    padding: 0.5rem 0 0 0;
  }

  .pokedex-search-error-message-container {
    width: 100%;
    max-height: 50px;
    padding: 0 0 0.5rem 0;
    justify-content: space-between;
    align-items: flex-start;
  }

  .placeholder-search-right-container {
    max-height: 45px;
    padding: 0;
  }

  .error-search-container {
    width: 100%;
    max-height: 45px;
  }

  #errorMessage {
    width: 100%;
    text-align: start;
  }
}

@media only screen and (max-width: 570px) {

  .search-container {
    display: flex;
    justify-content: center;
    width: 320px;
    background-color: black;
    border-radius: 15px;
  }

  body {
    justify-content: flex-start;
  }

}

@media only screen and (max-width: 488px) {
  .content-gallery {
    display: flex;
    width: 305px;
    font-size: 20px;
  }

  .detail-img-abilitiesnav-container {
    display: flex;
    width: 310px;
  }

  .details-stats-container {
    display: flex;
    justify-content: center;
    width: 300px;
  }

  .details-abilitiesnav {
    display: flex;
    justify-content: center;
    width: 290px;
  }

  .pokemon-details-container {
    display: flex;
    width: 305px;
  }

  .details-abilities-btns {
    scale: 0.7;
  }

  .details-img {
    margin-left: 50px;
  }

  .details-header {
    width: 300px;
  }
}

@media (max-width: 415px) {
  .search-container {
    justify-content: flex-end;
    max-width: 160px;
  }

  #searchInput {
    max-width: 80px;
  }

  .placeholder-search-right-container {
    min-width: 160px;
  }
  
}

@media (max-width: 370px) {
  .search-container {
    justify-content: flex-end;
    max-width: 120px;
  }

  #searchInput {
    max-width: 40px;
  }

  .placeholder-search-right-container {
    min-width: 120px;
  }

  #errorMessage {
    padding: 0;
  }

}

@media (max-width: 310px) {
  .pokedex-header {
    max-height: 146px;
    min-height: 140px;
  }

  .pokedex-search-error-message-container{
    align-items: flex-end;
  }
  #errorMessage {
    padding: 0;
    margin-top: -1rem;
  }
}

/* big screens */
