body {
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    font-family: Helvetica, sans-serif;
    background-color: black;
    color: white;
}

section {
    background-color: black;
    width: 100vw;
    height: calc(100vh - 200px);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    position: fixed;
    bottom: 0;
    height: 80px;
    width: 100vw;
    background-color: black;
}

.footer-img {
    height: 60px;
    bottom: 100px;
}

.load-more-btn {
    display: flex;
    background-color: yellow;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.skip-link {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip-link:focus-visible {
    left: 1rem;
    top: 1rem;
    width: auto;
    height: auto;
    padding: 0.5rem 1rem;
    background-color: #000000;
    color: #ffffff;
    border: 2px solid yellow;
    border-radius: 0.5rem;
    text-decoration: none;
    z-index: 2000;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

button:focus-visible,
#searchInput:focus-visible,
.pokemon-type-button:focus-visible,
.close-detail-btn:focus-visible,
.back-btn:focus-visible,
.forth-btn:focus-visible {
    outline: 3px solid yellow;
    outline-offset: 3px;
}
